[submodule "elisp/el-got/col-highlight"]
	path = elisp/el-got/col-highlight
	url = https://github.com/emacsmirror/col-highlight.git
[submodule "elisp/el-got/bm"]
	path = elisp/el-got/bm
	url = https://github.com/joodland/bm.git
[submodule "elisp/el-got/rainbow-delimiters"]
	path = elisp/el-got/rainbow-delimiters
	url = https://github.com/Fanael/rainbow-delimiters.git
[submodule "elisp/el-got/mark-multiple"]
	path = elisp/el-got/mark-multiple
	url = https://github.com/magnars/mark-multiple.el.git
[submodule "elisp/el-got/expand-region"]
	path = elisp/el-got/expand-region
	url = https://github.com/magnars/expand-region.el.git
[submodule "elisp/el-got/helm"]
	path = elisp/el-got/helm
	url = https://github.com/emacs-helm/helm.git
[submodule "elisp/el-got/color-moccur"]
	path = elisp/el-got/color-moccur
	url = https://github.com/myuhe/color-moccur.el.git
